.coveralls.yml
docs/_build/**
_build/**
cover
.coverage
neat-checkpoint-*
fitness_history.csv
speciation.csv
species_fitness.csv
.mypy_cache
*~
*.pyc
*.pyo
__pycache__/
*stats*.dat*

# virtualenv folders
venv/

# PyCharm env
.idea/

# LunarLander
examples/openai_lander/fitness.svg
examples/openai_lander/results/
examples/openai_lander/scores.svg
